  
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="">Sass</a></li>
        <li><a href="">Components</a></li>
        <li><a href="">JavaScript</a></li>
      </ul>
    </div>
  </nav>

  <ul id="slide-out" class="side-nav fixed">
    <li><div class="userView">
      <div class="background">
        <img src="http://www.intrawallpaper.com/static/images/background_patterns_lines_shadow_43860_1920x1080.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header" >Categorías<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                <li ng-repeat="item in categorias"><a href="#!">{{item.name}}</a></li>
              </ul>
            </div>
          </li>
        </ul>
    </li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>

<div class="container">
    <div class="row" ng-repeat="item in productos">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="{{item.img}}">
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">shopping_cart</i></a>
        </div>
        <div class="card-content">
          <span class="card-title">{{item.name}}</span>
          <p>${{item.price}}</p>
          <p ng-if="item.available"><i class="tiny material-icons disponible">check_circle</i> Producto Disponible</p>
          <p ng-if="!item.available"><i class="tiny material-icons agotado">error</i> Producto Agotado</p>
          <p ng-if="item.best_seller"><i class="tiny material-icons best_seller">loyalty</i> Producto Destacado</p>
          <p>{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


