/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.halfway-fab{
  position: absolute !important;
  transform: translateY(-50%);
  right: 24px;
}

.halfway-fab-left{
  position: absolute !important;
  transform: translateY(-50%);
  left: 15px;
}

.material-icons.disponible { 
  color: #76ff03 ;
}

.material-icons.agotado { 
  color: #e53935 ;
}

.material-icons.best_seller { 
  color: #ffeb3b ;
}

select{
  margin-top:10px !important;
  margin-bottom: 10px !important;
  display: block !important;
}

.invisible{
  display: none;
}

.card{
width: 80%;
margin: 0 auto!important;
}

.principal{
  background-color: #ffa23e!important;
}

.secundario{
  background-color: #7BCCAC!important;
}

.terciario{
  background-color: #145b9b!important;
  color: white!important;
}

nav.secundario{
  height: 45px;
}

.fondo{
  background-color: #EDEDED;
}

.brand-logo{
  position: relative!important;
}

.nav-wrapper{
  text-align: center;
}

.remove{
  color: red;
}

nav .input-field label{
  top: -4px!important;
}

.cerrar{
  top: -4px!important;
}

.barra{
  padding-right: 44px;
}